.pagebuilder-page {
	transition: all 0.3s ease 0s;
}
.pagebuilder-section {
	padding: 80px 0;
	position: relative;
}
.pagebuilder-settings {
	padding: 20px;
	top: 20px;
	bottom: 20px;
	left: 20px;
	width: 500px;
	background-color: #eaeaea
}
.pagebuilder-section:hover {
	outline: 1px solid orange;
}
.pagebuilder-row:hover {
	outline: 1px solid blue;
}
.fixed {
	position: fixed;
}
.absolute {
	position: absolute;
}
